html {
background-color: lightgrey;
font-family: "Audiowide", sans-serif;
}

nav {
    background-color: lightblue;
    border-style: groove;
    border-color: rgb(87, 221, 176);
    border-width: medium;
    border-radius: 8px;
    padding: 10px;
}

dl {
    list-style-image: url('chef_;ogo.jpeg');
    list-style-type: square;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-style: underline;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

p {
    text-align: center;
}

