html {
background-color: lightgrey;
font-family: "Audiowide", sans-serif;
}

nav {
    background-color: lightblue;
    border-style: groove;
    border-color: rgb(87, 221, 176);
    border-width: medium;
    border-radius: 8px;
    padding: 10px;
}